.hero-card{
    cursor: pointer;
    /* align-items: center; */
}
.hero-card:hover{
    background: linear-gradient(to right, #ece9e6, #ffffff);
   
}
 .hero-details{
    margin-left: 15px;
} 

.herocard-img img{
    height: 250px;
    
}
